Repository daniilnemtyrev/project-x: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx stylelint --fix, prettier --write

feat(commit-msg): added commit-msg
  .commitlintrc.js
  .husky/commit-msg
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

refactor(husky): commitlint
  .commitlintrc.js
  commitlint.config.js
Due: none

feat(features): added login functional
  .eslintrc.js
  .loki/reference/chrome_iphone7_shared_Button_Future.png
  .loki/reference/chrome_laptop_shared_Button_Future.png
  config/storybook/preview.js
  config/storybook/webpack.config.ts
  json-server/db.json
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/App.tsx
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/app/styles/variables/global.scss
  src/entities/User/index.ts
  src/entities/User/model/selectors/userSelector.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/UserSchema.ts
  src/features/AuthByUsername/index.ts
  src/features/AuthByUsername/model/selectors/loginSelector.ts
  src/features/AuthByUsername/model/services/login/login.ts
  src/features/AuthByUsername/model/slice/loginSlice.ts
  src/features/AuthByUsername/model/types/LoginSchema.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.stories.tsx
  src/shared/config/storybook/decorators/StoreDecorator.tsx
  src/shared/consts/localstorage.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useAppDispatch.ts
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Text/Text.module.scss
  src/shared/ui/Text/Text.stories.tsx
  src/shared/ui/Text/Text.tsx
  src/shared/ui/Text/index.ts
  src/widgets/Navbar/Navbar.stories.tsx
  src/widgets/Navbar/Navbar.tsx
Due: eslint --fix, npx stylelint --fix, prettier --write

fix(jest): added axios in moduleNameMapper
  config/jest/jest.config.ts
  src/entities/Counter/index.ts
  src/entities/Counter/model/selectors/getCounter/getCounter.test.ts
  src/entities/Counter/model/selectors/getCounter/getCounter.tsx
  src/entities/Counter/model/selectors/getCounterValue/getCounterValue.test.ts
  src/entities/Counter/model/selectors/getCounterValue/getCounterValue.ts
  src/entities/Counter/model/slice/counterSlice.test.ts
  src/entities/Counter/model/slice/counterSlice.ts
  src/entities/Counter/model/types/counterSchema.ts
  src/entities/Counter/ui/Counter.test.tsx
  src/entities/Counter/ui/Counter.tsx
  src/entities/User/model/slice/userSlice.ts
Due: eslint --fix, prettier --write

feat(loki): new references
  .loki/reference/chrome_iphone7_features_LoginForm_Default.png
  .loki/reference/chrome_iphone7_features_LoginForm_Error.png
  .loki/reference/chrome_iphone7_features_LoginForm_Loading.png
  .loki/reference/chrome_iphone7_features_LoginModal_Default.png
  .loki/reference/chrome_iphone7_shared_Button_Future_Disabled.png
  .loki/reference/chrome_iphone7_shared_Text_Error_Both.png
  .loki/reference/chrome_iphone7_shared_Text_Error_Text.png
  .loki/reference/chrome_iphone7_shared_Text_Error_Title.png
  .loki/reference/chrome_iphone7_shared_Text_Primary_Both.png
  .loki/reference/chrome_iphone7_shared_Text_Primary_Text.png
  .loki/reference/chrome_iphone7_shared_Text_Primary_Title.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Sign_In_Navbar.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Sign_Out_Navbar.png
  .loki/reference/chrome_laptop_features_LoginForm_Default.png
  .loki/reference/chrome_laptop_features_LoginForm_Error.png
  .loki/reference/chrome_laptop_features_LoginForm_Loading.png
  .loki/reference/chrome_laptop_features_LoginModal_Default.png
  .loki/reference/chrome_laptop_shared_Button_Future_Disabled.png
  .loki/reference/chrome_laptop_shared_Text_Error_Both.png
  .loki/reference/chrome_laptop_shared_Text_Error_Text.png
  .loki/reference/chrome_laptop_shared_Text_Error_Title.png
  .loki/reference/chrome_laptop_shared_Text_Primary_Both.png
  .loki/reference/chrome_laptop_shared_Text_Primary_Text.png
  .loki/reference/chrome_laptop_shared_Text_Primary_Title.png
  .loki/reference/chrome_laptop_widgets_Navbar_Sign_In_Navbar.png
  .loki/reference/chrome_laptop_widgets_Navbar_Sign_Out_Navbar.png
Due: none

feat(store): reducer manager, async reducers
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/createReducerManager.ts
  src/app/providers/StoreProvider/config/store.ts
  src/app/providers/StoreProvider/index.ts
  src/app/providers/StoreProvider/ui/StoreProvider.tsx
  src/features/AuthByUsername/model/selectors/loginSelector.ts
  src/features/AuthByUsername/model/slice/loginSlice.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.async.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.tsx
  src/shared/config/storybook/decorators/StoreDecorator.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useReducerManager.ts
Due: eslint --fix, prettier --write

feat(tests): added testAsyncThunk class, test for login thunk
  src/app/providers/StoreProvider/index.ts
  src/features/AuthByUsername/model/services/login/login.test.ts
  src/shared/lib/tests/TestAsyncThunk.ts
  src/shared/lib/tests/index.ts
Due: eslint --fix, prettier --write

refactor(hooks): moved hooks folder into lib
  src/app/App.tsx
  src/app/providers/StoreProvider/config/store.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/shared/lib/hooks/index.ts
  src/shared/lib/hooks/useAppDispatch.ts
  src/shared/lib/hooks/useReducerManager.ts
  src/widgets/Navbar/Navbar.tsx
Due: eslint --fix, prettier --write

feat(page): profile page, profile slice, added memo
  config/storybook/i18next.js
  json-server/db.json
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/app/App.tsx
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/router/config/routerConfig.tsx
  src/entities/Profile/index.ts
  src/entities/Profile/model/slice/profileSlice.ts
  src/entities/Profile/model/types/ProfileSchema.ts
  src/features/AuthByUsername/model/services/login/login.test.ts
  src/features/AuthByUsername/model/services/login/login.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/MainPage/index.ts
  src/pages/ProfilePage/ProfilePage.async.tsx
  src/pages/ProfilePage/ProfilePage.stories.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/index.ts
  src/shared/assets/icons/index.ts
  src/shared/assets/icons/profile.svg
  src/shared/consts/enums.ts
  src/shared/consts/index.ts
  src/shared/consts/localstorage.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useAppDispatch.ts
  src/shared/hooks/useReducerManager.ts
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Input/Input.tsx
  src/widgets/LangSwitcher/ui/LangSwitcher.tsx
  src/widgets/Navbar/Navbar.tsx
  src/widgets/Sidebar/model/items.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.module.scss
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.tsx
  src/widgets/ThemeSwitcher/ui/ThemeSwitcher.tsx
Due: eslint --fix, npx stylelint --fix, prettier --write

feat(loki): new screens
  .loki/reference/chrome_iphone7_widgets_Sidebar_Default.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Default.png
  src/shared/config/storybook/decorators/StoreDecorator.tsx
Due: eslint --fix, prettier --write

feat(loki): new screens
  .loki/reference/chrome_iphone7_pages_ProfilePage_Default.png
  .loki/reference/chrome_laptop_pages_ProfilePage_Default.png
Due: none

feat(store): extra params
  .eslintrc.js
  .vscode/settings.json
  config/build/buildPlugins.ts
  config/build/types/config.ts
  config/jest/jest.config.ts
  config/storybook/webpack.config.ts
  package.json
  src/app/App.tsx
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/app/providers/StoreProvider/index.ts
  src/app/providers/StoreProvider/ui/StoreProvider.tsx
  src/app/types/global.d.ts
  src/features/AuthByUsername/model/services/login/login.ts
  src/index.tsx
  src/shared/api/api.ts
  src/shared/api/index.ts
  src/shared/config/i18n/i18n.ts
  src/widgets/LangSwitcher/ui/LangSwitcher.tsx
  webpack.config.ts
Due: eslint --fix, prettier --write

feat(profile): profile card
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/app/providers/StoreProvider/config/store.ts
  src/entities/Profile/index.ts
  src/entities/Profile/model/selectors/index.ts
  src/entities/Profile/model/selectors/profileSelectors.ts
  src/entities/Profile/model/services/fetchProfileThunk.ts
  src/entities/Profile/model/slice/profileSlice.ts
  src/entities/Profile/ui/ProfileCard/ProfileCard.module.scss
  src/entities/Profile/ui/ProfileCard/ProfileCard.tsx
  src/entities/Profile/ui/ProfileForm/ProfileForm.module.scss
  src/entities/Profile/ui/ProfileForm/ProfileForm.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/shared/ui/Input/Input.tsx
Due: eslint --fix, npx stylelint --fix, prettier --write

fix(ts): ts strict mode on
  config/build/buildPlugins.ts
  config/storybook/webpack.config.ts
  src/app/providers/StoreProvider/config/StateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/app/providers/StoreProvider/index.ts
  src/entities/Profile/model/selectors/index.ts
  src/entities/Profile/model/selectors/profileSelectors.ts
  src/entities/Profile/ui/ProfileForm/ProfileForm.tsx
  src/features/AuthByUsername/model/services/login/login.test.ts
  src/features/AuthByUsername/model/types/LoginSchema.ts
  src/pages/AboutPage/AboutPage.stories.tsx
  src/pages/MainPage/MainPage.stories.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/shared/api/api.ts
  src/shared/config/i18n/i18n.ts
  src/shared/config/storybook/decorators/StoreDecorator.tsx
  src/shared/contexts/theme-context/useTheme.ts
  src/shared/hooks/useReducerManager.ts
  src/shared/lib/classNames/classNames.ts
  src/shared/lib/tests/TestAsyncThunk.ts
  src/shared/lib/tests/renderComponent.tsx
  src/shared/ui/Input/Input.tsx
  src/shared/ui/Loader/Loader.stories.tsx
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Portal/Portal.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

feat: profile tests
  .github/workflows/pipeline.yml
  .loki/reference/chrome_iphone7_widgets_Sidebar_Default.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Default.png
  json-server/db.json
  src/entities/ProfileCard/ProfileCard.stories.tsx
  src/features/AuthByUsername/model/selectors/loginSelector.test.ts
  src/features/EditableProfileCard/index.ts
  src/features/EditableProfileCard/model/selectors/profileSelectors.test.ts
  src/features/EditableProfileCard/model/selectors/profileSelectors.ts
  src/features/EditableProfileCard/model/services/fetchProfileData/fetchProfileData.test.ts
  src/features/EditableProfileCard/model/services/fetchProfileData/fetchProfileData.ts
  src/features/EditableProfileCard/model/services/updateProfileData/updateProfileData.test.ts
  src/features/EditableProfileCard/model/services/updateProfileData/updateProfileData.ts
  src/features/EditableProfileCard/model/services/validateProfileData.ts
  src/features/EditableProfileCard/model/slice/profileSlice.test.ts
  src/features/EditableProfileCard/model/slice/profileSlice.ts
  src/features/EditableProfileCard/ui/EditableProfileCard.stories.tsx
  src/features/EditableProfileCard/ui/EditableProfileCard.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/lib/tests/TestAsyncThunk.ts
  src/shared/ui/Button/Button.tsx
Due: eslint --fix, prettier --write

feat: new theme
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/pink.scss
  src/features/AuthByUsername/ui/LoginForm/LoginForm.module.scss
  src/shared/assets/icons/ThemeIcon.tsx
  src/shared/assets/icons/index.ts
  src/shared/contexts/theme-context/ThemeContext.ts
  src/shared/contexts/theme-context/useTheme.ts
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Text/Text.module.scss
  src/widgets/ThemeSwitcher/ui/ThemeSwitcher.tsx
  tsconfig.json
Due: eslint --fix, npx stylelint --fix, prettier --write

feat: folder template
  .fttemplates/TS Component/[FTName].module.scss
  .fttemplates/TS Component/[FTName].stories.tsx
  .fttemplates/TS Component/[FTName].tsx
  .vscode/settings.json
  config/build/buildLoaders.ts
  config/build/buildPlugins.ts
  config/build/loaders/babelLoader.ts
  package-lock.json
  package.json
  src/app/styles/themes/light.scss
  src/app/styles/themes/pink.scss
  src/features/EditableProfileCard/ui/header/header.module.scss
  src/shared/ui/Input/Input.module.scss
  src/widgets/Navbar/Navbar.module.scss
  src/widgets/Navbar/Navbar.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.module.scss
Due: eslint --fix, npx stylelint --fix, prettier --write

feat: ignore folder template
  .prettierignore
  .stylelintrc.json
Due: none

fix: loader and text styles
  src/shared/ui/Loader/Loader.scss
  src/shared/ui/Text/Text.module.scss
Due: npx stylelint --fix

feat: private page
  json-server/db.json
  src/app/App.tsx
  src/app/providers/router/config/routerConfig.tsx
  src/app/providers/router/index.ts
  src/app/providers/router/ui/AppRouter.tsx
  src/app/providers/router/ui/RequireAuth.tsx
  src/entities/ProfileCard/ProfileCard.module.scss
  src/entities/User/index.ts
  src/entities/User/model/selectors/userSelector.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/UserSchema.ts
  src/pages/ProfilePage/ui/ProfilePage.module.scss
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/Input.tsx
  src/widgets/Navbar/Navbar.tsx
  src/widgets/Sidebar/model/items.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarItem/SidebarItem.tsx
Due: eslint --fix, npx stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npx stylelint --fix: any of: *.scss
  prettier --write: any of: *.{ts,tsx, scss}
